<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <div class="bottom-nav">
            <a href="/" class="tab active">Home</a>
            <a href="/scan" class="tab">Scanner</a>
            <a href="/map" class="tab">Map</a>
        </div>

        <div class="top-labels">
            <div class="label" id="label1">Plastic Collected: 3</div>
            <div class="label" id="label2">Items Recycled: 4</div>
          </div>
        
          <div class="articles-container">
            <div class="article">
              <h2>Latest Recycling News</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Pellentesque vitae feugiat sem. Vivamus ac velit vel libero lacinia interdum. Morbi vitae sapien sed sem dignissim pulvinar. Integer tempor lacinia lorem, sed lobortis erat iaculis a.</p>
              <p>Curabitur fermentum luctus urna, nec rutrum nisi fermentum ut. Phasellus laoreet rutrum quam non hendrerit. Proin suscipit justo sed mi laoreet, at sodales sem malesuada. Vivamus sodales, diam et vestibulum lobortis, nunc sem tincidunt quam.</p>
            </div>
        
            <div class="article">
              <h2>Tips for Better Recycling</h2>
              <p>Donec porta lorem ut nulla commodo, nec pretium ligula vestibulum. Suspendisse bibendum libero eget facilisis tincidunt. Mauris at purus felis. Proin in mi nec sapien finibus porta. Nam lobortis efficitur diam, at feugiat risus.</p>
              <p>In vehicula turpis a sapien tincidunt, nec gravida tellus vestibulum. Ut sit amet sapien vitae turpis rhoncus suscipit. Vestibulum vel gravida ligula, sed fringilla justo. Etiam rhoncus eu metus in suscipit. Nulla vitae sapien non ligula dictum dapibus.</p>
            </div>
          </div>
        
          <div class="resources">
            <h3>Recycling Resources</h3>
              <a href="https://www.epa.gov/recycle  " target="_blank">EPA - How to Recycle</a>
              <a href="https://earth911.com/  " target="_blank">Earth911 - Recycling Guide</a>
              <a href="https://recyclenation.com/  " target="_blank">RecycleNation</a>
              <a href="https://www.plasticfilmrecycling.org/  " target="_blank">Plastic Film Recycling</a>
          </div>
        <script src="../static/js/home.js"></script>
    </body>
</html>