<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/map.css">
    </head>
    <body>
        <div id="qrModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModalButton">&times;</span>
                <h3>Scan this QR code to report</h3>
                <img src="/static/images/qrcode.png" height=300px, width=300px>
            </div>
        </div>

        <div class="iframe-container">
            <button class="overlay-button" id="openModalButton">Report</button>
            <iframe src="https://fairfaxgss.maps.arcgis.com/apps/instant/basic/index.html?appid=110733df692847da8645aaa34aec4e4d" width="400" height="600" frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on t" width="1520" height="825"style="border:0" allowfullscreen></iframe>
        </div>
        
        <div class="bottom-nav">
            <a href="/" class="tab">Home</a>
            <a href="/scan" class="tab">Scanner</a>
            <a href="/map" class="tab">Map</a>
        </div>
        <script src="../static/js/map.js"></script> 
    </body>
</html>